{% load i18n %}

<div class="container">
    <h1>{% trans "Game Sessions" %}</h1>
    <button id="filter-btn" class="btn btn-primary">{% trans "Show only my Game Sessions" %}</button>
    <table  class="table table-striped table-hover"
            id="game_sessions-table"
            data-toggle="table"
            data-sortable="true"
            data-click-to-select="false">
        <thead>
            <tr>
                <th data-field="game_id" data-sortable="true">{% trans "ID" %}</th>
                <th data-field="date" data-sortable="true">{% trans "Date" %}</th>
                <th data-field="player1" data-sortable="true">{% trans "Player 1" %}</th>
                <th data-field="p1_wins" data-sortable="true">{% trans "P1 Wins" %}</th>
                <th data-field="player2" data-sortable="true">{% trans "Player 2" %}</th>
                <th data-field="p2_wins" data-sortable="true">{% trans "P2 Wins" %}</th>
                <th data-field="winner" data-sortable="true">{% trans "Winner" %}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="chart-game_sessions" style="width: 100%; height: 400px; margin-top: 20px;"></div>
</div>

{% load static %}

<script type="text/javascript">
    var gameSessionData = JSON.parse('{{ game_sessions|escapejs }}');
    var currentUser = '{{ current_user|escapejs  }}';
    populateTable(gameSessionData, '#game_sessions-table');
    chartData = prepareDataForGameSessionChart(gameSessionData);
    createGameSessionChart(chartData);

    document.getElementById('filter-btn').addEventListener('click', function() {
        response = filterTableByUser(currentUser);
        chartData = prepareDataForGameSessionChart(response)
        createGameSessionChart(chartData);
    });
</script>
